@media print {
   html, html > body {
     background: #fff !important;
     margin: 0;
     padding: 0;
     max-width: auto;
     border: none;
   }
}

html {
  background: #eee;
}

article {
  max-width: 48.5em;  /* Fit 79 characters. */
  margin: 2em auto;
  padding: 3em;
  text-align: center;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  background: #fff;
  border-radius: .3em;
  border: 1px solid #ddd;
}

article > * {
  text-align: left;
}

code {
  text-align: left;
  border-radius: .25em;
  border: 1px solid #eee;
}

.message {
  overflow: auto;
}

img {
  max-width: 100%;
  display: inline-block;
}
