@media print {
  html, article {
    background: #fff !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
    border: none !important;
    font-size: 13px !important;
  }
}

html {
  background: #eee;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

article {
  max-width: 48.5em;  /* Fit 79 characters. */
  margin: 2em auto;
  padding: 3em;
  text-align: center;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  background: #fff;
  border-radius: .3em;
  border: 1px solid #ddd;
}

article > * {
  text-align: left;
}

code {
  text-align: left;
  border-radius: .25em;
  border: 1px solid #eee;
}

.message {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-all;
}

img {
  max-width: 100%;
  display: inline-block;
}
